*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    margin: 0;
    background: radial-gradient(#e3d0e8, #710193);
    }

.title{
    text-align: center;
    font-size: 6em;
    color: #fafafa;
    }
 .game-info{
     color: #fafafa;
     font-size: 4em;
}  

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card{
    background-color: black;
    height: 175px;
    width: 125px;
}